<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">Form</div>
                    <p v-if="errors.length">
                        <b>Пожалуйста исправьте указанные ошибки:</b>
                            <ul>
                            <li v-for="(error,index) in errors" :key="index">{{ error }}</li>
                            </ul>
                    </p>
                    <div class="card-body text-center">
                        {{response}}
                    </div>
                    <div class="card-body">
                            <input type="text" class="form-control mb-1" placeholder="Имя" v-model="name">
                            <input type="number" class="form-control mt-1" placeholder="Телефон" v-model="phone">
                            <textarea name="text" id="" cols="30" rows="10" class="form-control mt-1" placeholder="Текст" v-model="message"></textarea>
                            <button class="btn btn-success mt-1" @click="sendData">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
          data:function(){
            return{
                name:"",
                phone:"",
                message:"",
                errors: [],
                response: ""
            }
        },
        mounted() {
        },
          methods:{
            sendData:function(){
                this.errors = []
                this.response = ""
                axios({
                    method:"POST",
                    url:"/send-data",
                    params:{ name:this.name, phone:this.phone, message:this.message }
                }).then((response)=>{
                    this.response = response.data
                }).catch(error => {
                       this.errors.push(error.response.data.error.name[0])
                       this.errors.push(error.response.data.error.phone[0])
                       this.errors.push(error.response.data.error.message[0])
                     });
            }
        }
    }
</script>

